h1{
    color: rgba(88, 6, 13, 0.945);
    text-align: center;
    position: relative;
}

#card{
    margin-top: 5px;
    margin-left: 20%;
    margin-right:20%;
    padding-bottom: 2%;
    color: rgb(7, 43, 43);
}
